body {
    margin: 15px;
    padding-bottom: 30px;
    background-color: lightsteelblue !important;
    min-width: 250px;
}

.btn {
    margin: 15px;
}

.container-fluid {
    justify-content: center !important;
    display: flex !important;
    text-align: center !important;
    font-size: 20px;
    color: blue;
    color: white !important;
}

h1 {
    text-align: center;
    text-decoration: underline;

}

.card-text {
    font-size: 20px;
}

.card_just4me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}

nav {
    height: 85px;
}

.p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.btn .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 800px !important;

}
.max-width{
    width: 100%;
}


.card-img-top {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.quizcard-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.quizcard-footer-content {
    margin: 5px;
}
.card_maxwidth{
    max-width: 100%;

}
.hover:hover {
    color: #000000;
    background: rgb(211, 206, 206);
    z-index: 0;
}

.highlight_success {
    background-color: greenyellow !important;
    z-index: 1;
      
}

.highlight_destroyed {
    color: rgb(255, 255, 255);
    background: rgb(255, 30, 0) !important;
    z-index: 1;
    
}


.text-center {
    text-align: center;

}
.pic-100width {
    width: 100%;
}
.font-size {
    font-size: 30px;
}
.display-center {
    display: flex;
    justify-content: center;

}
.gap {
    margin-right: 10px;
    margin-left: 10px;
    
}
.quiz-victoryimg {
    object-fit: contain;
    height: 500px !important;
}
.hides {
    display: none;
}
